<a href="https://colab.research.google.com/github/SaiAnognaChittudi/Capstone_Home_Credit_Default/blob/main/Capstone_EDA_Sai_Anogna_Chittudi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table of Contents

# 1. Introduction

Home Credit, a financial institution, is dedicated to extending loans to individuals lacking sufficient or non-existent credit histories, aiming to enhance financial inclusivity across diverse markets. To achieve this, they leverage alternative data sources such as telco and transactional records to assess clients' repayment capabilities.Doing so will ensure that clients capable of repayment are not rejected and that loans are given with a principal, maturity, and repayment calendar that will empower their clients to be successful.

The goal of the Home Credit Default project is to develop a robust predictive model that precisely forecast the probability of the target variable which in turn identifies individuals who are likely to default on loan payments. This model can assist Home Credit in making informed decisions on loan approval reducing the credit default risk.

# 2. Setup, Import and Read data

In [4]:
# import statements

import os
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.patches as mp
import matplotlib.pyplot as plt
import glob
import chardet

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import os
os.chdir('/content/drive/MyDrive/home-credit-default-risk') # changing the default directory

# 3. Exploration of Dataset

In [21]:
df_train = pd.read_csv("application_train.csv")
df_bureau = pd.read_csv("bureau.csv")
df_train.head(20)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0.0,202500.000,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0.0,270000.000,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0.0,67500.000,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0.0,135000.000,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0.0,121500.000,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0.0,99000.000,490495.5,27517.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1.0,171000.000,1560726.0,41301.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0.0,360000.000,1530000.0,42075.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0.0,112500.000,1019610.0,33826.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0.0,135000.000,405000.0,20250.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1.0,112500.000,652500.0,21177.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0.0,38419.155,148365.0,10678.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0.0,67500.000,80865.0,5881.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1.0,225000.000,918468.0,28966.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0.0,189000.000,773680.5,32778.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0.0,157500.000,299772.0,20160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0.0,108000.000,509602.5,26149.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1.0,81000.000,270000.0,13500.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0.0,112500.000,157500.0,7875.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1.0,90000.000,544491.0,17563.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

## 3.1 Descriptive Statistics of each column

In [22]:
df_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,75700.000000,75700.000000,75699.000000,7.569900e+04,7.569900e+04,75694.000000,7.563600e+04,75699.000000,75699.000000,75699.000000,...,75699.000000,75699.000000,75699.000000,75699.00000,65586.000000,65586.000000,65586.000000,65586.000000,65586.000000,65586.000000
mean,143900.649432,0.080291,0.417060,1.695137e+05,5.986434e+05,27077.762300,5.380433e+05,0.020861,-16038.243715,63427.870976,...,0.008243,0.000674,0.000436,0.00033,0.006953,0.007471,0.033361,0.268823,0.265041,1.886470
std,25307.603982,0.271744,0.722493,4.357523e+05,4.014070e+05,14467.199609,3.687981e+05,0.013794,4367.607419,140962.797073,...,0.090418,0.025948,0.020875,0.01817,0.087734,0.108237,0.200898,0.924070,0.612589,1.873602
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1980.000000,4.500000e+04,0.000533,-25201.000000,-17531.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,122067.750000,0.000000,0.000000,1.125000e+05,2.700000e+05,16474.500000,2.385000e+05,0.010006,-19678.000000,-2776.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,143843.000000,0.000000,0.000000,1.476000e+05,5.130000e+05,24907.500000,4.500000e+05,0.018850,-15770.000000,-1217.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,165795.250000,0.000000,1.000000,2.025000e+05,8.086500e+05,34587.000000,6.795000e+05,0.028663,-12390.000000,-289.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,187779.000000,1.000000,11.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7676.000000,365243.000000,...,1.000000,1.000000,1.000000,1.00000,3.000000,6.000000,6.000000,24.000000,8.000000,25.000000

## 3.2 Summary of the df_train

In [23]:
df_train.info

<bound method DataFrame.info of        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0          100002       1         Cash loans           M            N
1          100003       0         Cash loans           F            N
2          100004       0    Revolving loans           M            Y
3          100006       0         Cash loans           F            N
4          100007       0         Cash loans           M            N
...           ...     ...                ...         ...          ...
75695      187775       0         Cash loans           F            N
75696      187776       0         Cash loans           F            N
75697      187777       1         Cash loans           M            N
75698      187778       0         Cash loans           F            N
75699      187779       0                NaN         NaN          NaN

      FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                   Y           0.0          202500.0    406597.5
1                   N           0.0          270000.0   1293502.5
2                   Y           0.0           67500.0    135000.0
3                   Y           0.0          135000.0    312682.5
4                   Y           0.0          121500.0    513000.0
...               ...           ...               ...         ...
75695               Y           0.0          193500.0    765000.0
75696               N           1.0          180000.0    360000.0
75697               Y           0.0          180000.0    342000.0
75698               Y           0.0          202500.0    755190.0
75699             NaN           NaN               NaN         NaN

       AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0          24700.5  ...               0.0              0.0              0.0
1          35698.5  ...               0.0              0.0              0.0
2           6750.0  ...               0.0              0.0              0.0
3          29686.5  ...               0.0              0.0              0.0
4          21865.5  ...               0.0              0.0              0.0
...            ...  ...               ...              ...              ...
75695      39060.0  ...               0.0              0.0              0.0
75696      28570.5  ...               0.0              0.0              0.0
75697      38808.0  ...               0.0              0.0              0.0
75698      29677.5  ...               0.0              0.0              0.0
75699          NaN  ...               NaN              NaN              NaN

      FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                  0.0                        0.0                       0.0
1                  0.0                        0.0                       0.0
2                  0.0                        0.0                       0.0
3                  0.0                        NaN                       NaN
4                  0.0                        0.0                       0.0
...                ...                        ...                       ...
75695              0.0                        0.0                       0.0
75696              0.0                        0.0                       0.0
75697              0.0                        0.0                       0.0
75698              0.0                        0.0                       0.0
75699              NaN                        NaN                       NaN

       AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                             0.0                        0.0
1                             0.0                        0.0
2                             0.0                        0.0
3                             NaN                        NaN
4                             0.0                        0.0
...                           ...                        ...
75695                         0.0                        0.0
75696                         0.0                        0.0
75697                         0.0                        1.0
75698                         0.0                        0.0
75699                         NaN                        NaN

       AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                            0.0                         1.0
1                            0.0                         0.0
2                            0.0                         0.0
3                            NaN                         NaN
4                            0.0                         0.0
...                          ...                         ...
75695                        0.0                         1.0
75696                        1.0                         3.0
75697                        0.0                         1.0
75698                        0.0                         2.0
75699                        NaN                         NaN

[75700 rows x 122 columns]>

## 3.4 Count of TARGET Variable